[submodule "eagle_nft_example/lib/forge-std"]
	path = eagle_nft_example/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eagle_nft_example/lib/openzeppelin-contracts"]
	path = eagle_nft_example/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
